*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.pegination-container {
    display: flex;
    justify-content: end;
    margin: 2rem 3.5rem;
}

.cross-icon{

    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    svg{
        font-size: 1.5rem;
        color: rgba(255, 3, 3, 0.543);
    }
}

.card {
    &__contaniner{
        padding: 0 2rem ;
    }
    width: 100%;
    height: auto;

    padding: 2rem;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
    margin: 1rem;
    flex-direction: column;

    .title {
        font-weight: 600;
        font-size: 1.1rem;
    }

    p::first-letter {
        text-transform: uppercase;
    }
}

.main-container__wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    background: #E7EDF3;
}

.cross-icon {
    font-size: 2.5rem;
    color: red;
    cursor: pointer;
}